body {
	font-family: Arial;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9, 0, 77, 0.395)),url(inage.jpg);

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	width: 950px;
	margin: 80px auto;
	color: white;
	line-height: 1.5;
}

.text-center {
	text-align: center;
}

.content {
	display: flex;
	margin-top: 40px;
}

.icon {
	background-color: white;
	border-radius: 30px;
	padding: 15px;
	vertical-align: top;
    width: 50px;
}

.contact-info {
	display: inline-block;
	padding: 4px 20px 0px 20px;
}

.address-line {
	margin-top: 40px;
}

.col-1 {
	width: 530px;
}

.col-2 {
	flex: 1 1 auto;
	background-color: white;
}

.form-container {
	color: #000;
	padding: 30px;
}

.contact-info-title {
	color: #01bdd4;
}

.form-row {
	padding-bottom: 30px;
}

.form-field {
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
}

.send-btn {
	border: 0px;
	padding: 12px 26px;
	background-color: #01bdd4;
	color: white;
}

@media all and (max-width: 1024px) {
	.container {
		width: auto;
		padding: 30px;
	}
	 .col-1 {
		width: 360px;
	} 
}

@media all and (max-width: 700px) {
	.content {
		display: block;
	}
	.col-2 {
		margin-top: 40px;
	} 
	.col-1{
	width:100%;
	}
}

@media all and (max-width: 500px) {
	.container {
		padding: 10px;
	}
}
button {
    --color: #0077ff;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
  button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  button:hover {
    color: white;
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
  }
  
  button:hover::before {
    top: -30px;
    left: -30px;
  }