*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.container{
  width: 100px;
  height: 100vh;
  background-color: rgba(58, 58, 58, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  text-align: center;
}

.content h1{
  font-size: 95px;
  color: #fff;
  margin-bottom: 50px;
}

.content a{
  font-size: 23px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 15px 25px;
  border-radius: 50px;
  transition: 0.3s;
}

.content a:hover{
  background-color: #fff;
  color: #000;
}

.background-clip{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio:16/9) {
  .background-clip{
      width: 100%;
      height: auto;
  }
}

@media (max-aspect-ratio:16/9) {
  .background-clip{
      width: auto;
      height: 100%;
  }
}
button {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

button:hover {
  color: white;
}

button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

button:hover::before {
  top: -30px;
  left: -30px;
}



